<div class="grid grid-cols-2 gap-6">
  <div class="col-span-1 text-center">
    <img class="w-auto" src={@pet.image} />
  </div>
  <div>
    <.header><%= @pet.name %> <span :if={!@pet.is_alive}>☠️</span></.header>
    <.list>
      <:item title="Age"><%= @pet.age %></:item>
      <:item title="Hunger"><%= @pet.hunger %></:item>
    </.list>
  </div>
</div>
