<.header><%= @pet.name %></.header>

<.list>
  <:item title="Age"><%= @pet.age %></:item>
  <:item title="Hunger"><%= @pet.hunger %></:item>
</.list>

<.button phx-click="ping" class="ml-2">Ping!</.button>

<.button phx-click="feed" class="ml-2">Feed!</.button>
