<.header>
  Your Pets
  <:actions>
    <.link navigate={~p"/pets/new"}>
      <.button>New Pet</.button>
    </.link>
  </:actions>
</.header>

<.table id="pets" rows={@pets}>
  <:col :let={pet} label="id"><%= pet.id %></:col>
  <:col :let={pet} label="name">
    <.link navigate={~p"/pet/#{pet.id}"}><%= pet.name %></.link>
  </:col>
</.table>
