<.header>
  Your Pets
  <:actions>
    <.link navigate={~p"/pets/new"}>
      <.button>New Pet</.button>
    </.link>
  </:actions>
</.header>

<.table id="pets" rows={@pets}>
  <:col :let={pet} label="name">
    <.link navigate={~p"/pet/#{pet.id}"}><%= pet.name %></.link>
  </:col>
  <:col :let={pet}>
    <img class="w-16" src={pet.image} />
  </:col>
</.table>
