<div>
  <.modal :if={@state == :requesting} id="waiting-modal" show={true}>
    Waiting for response
  </.modal>

  <.modal :if={@state == :responding} id="waiting-modal" show={true}>
    Somebody wants to go camping with you!
  </.modal>
</div>
